// Estilo del cuerpo
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: seagreen;
}
// Estilo del titulo
h1 {
    color: #fff;
    text-align: center;
}
// Estilo del cointainer
.container {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}
// Caracteristica generales de los item
.item {
    text-align: center;
    background: darken(seagreen,10);
    line-height: 2;
    margin: 2.5em;
    padding: 0.2em .5em;
    color: #fff;
    position: relative;
    &::before {
        content: "";
        display: block;
        background: #fff;
        width: 0;
        height: 3px;
        position: absolute;
        bottom: 0;
        transition: all .3s;
    }
    &:hover:before {
        width: 100%;
    }
}
// Animacion de cada uno de los bordes.
.uno {
    &::before{
    left: 0;
    }
}
.dos {
    &::before{
    right: 0;
    }
}
.tres {
    &::before{
        left: 50%;
        }
        &:hover:before {
            left: 0;
        }
}