<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Bordes animados
        link(rel="stylesheet", href="css/estilos.css")
    body
     h1 Bordes Animados
     .container
      .item.uno De Izquierda a Derecha
      .item.dos De Derecha a Izquierda
      .item.tres Del Centro a los Lados